<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaprMXk2XIC_yVHYsYQ9asu6H67wJrGRc</string>
	<key>GCM_SENDER_ID</key>
	<string>1087776430753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcra.welfareApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>welfare-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>welfare-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087776430753:ios:a1b8d2d4581783a79e2ee0</string>
</dict>
</plist>